@import "tailwindcss";

body {
    background-color: var(--color-black);
    color: var(--color-white);
}


/* apply "dark:" variants when the element or any of its parent elements has the attribute data-theme="dark" */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

.blackStripes {
  background-image: linear-gradient(
    45deg,
    transparent 40%,
    #cfcfcf 40%,
    #cfcfcf 50%,
    transparent 50%,
    transparent 90%,
    #cfcfcf 90%,
    #cfcfcf 100%
  );
  background-size: 10px 10px;
}